*{
    margin:0;
    padding:0;
}

body{
    margin-top: 10vh;
    margin-left: 20vw;
}
button[disabled] {
    opacity: 0.5; 
    pointer-events: none;
}

form{
    margin-top: 2vh;
    margin-left: 0.5vw;    
}

table{
    background-color: blue;
    border-radius: 25px;    
}

td{
    width: 50%;
    text-align: center;
}

button{
    width: 65%;
    height: 10%;
}

.compass{
    width: 10vw;
}

.btn-comp-text{
    display: flex;
    flex-direction: row;
}

#text{
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    height: 20vh;
}
