*{
    margin:0;
    padding:0;
}

/*.image{
    width: 100%;
}*/

button[disabled] {
    opacity: 0.5; 
    pointer-events: none;
}

td{
    width: 25%;
}

button{
    width: 75%;
    height: 10%;
}

#compass{
    width: 10vw; 
}
